<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <PackageInformation>
    <Name>Revout</Name>
    <Publisher>CN=Brofman.dev</Publisher>
    <Version>1.0.0.0</Version>
    <DisplayName>Revout</DisplayName>
    <Description>Hebrew-English keyboard layout text converter</Description>
  </PackageInformation>
  <Installer>
    <TargetDirectory>C:\Program Files\Revout</TargetDirectory>
  </Installer>
</Configuration>